@charset "utf-8";

@keyframes fadeInUp {
    from {
      /* opacity: 0; */
      transform: translate(-50%, -50%); /* 下から50px移動 */
    }
    to {
      opacity: 1;
      transform: translate(-50%, calc(-50% - 50px));
    }
  }
  
  .modal-content {
    animation: fadeInUp 0.5s ease-out;
    /* opacity: 0; */
    transform: translateY(50px);
    animation-fill-mode: forwards;
  }
  